* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, serif;
  text-shadow: #000 1px 1px;
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 1792px;
  height: 1024px;
  background-size: cover;
  background: url("assets/bg.webp") no-repeat center;
}
